.nosotros {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: #E8E5D2;
    font-family: 'Spectral', serif;
    display: flex;

    .argentinaImg {
        max-width: 840px;
        min-width: 615px;
        margin: 0 0 0 40px;
        img {
            width: 100%;
        }
    }

    .nosotrosContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        color: #593B34;
        margin: 16px 40px 0 40px;
    
        h4 {
            font-weight: normal;
            font-size: 52px;
            margin: 0 0 20px 0;
        }

        p {
            font-size: 30px;
            line-height: 40px;
            width: 630px;
        }
    }
  }

.textoRandom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;

    .tsegundo {
        width: 1300px;
    }

    .ttercero {
        width: 1300px;
    }

    p {
        width: 1323px;
        font-family: 'Spectral', serif;
        font-size: 38px;
        text-align: center;
        color: #593B34;
    }
 
}