.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px;
  width: 100%;
  color: #f1efef;
  font-size: 22px;
  background: rgb(73, 64, 61);
  background: linear-gradient(
    180deg,
    rgba(73, 64, 61, 1) 2%,
    rgba(27, 46, 56, 0) 100%
  );
  z-index: 2;
  .menu {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    li {
      margin-inline: 5vw;
    }
  }
  .burger {
    display: none;
  }
}

.img-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.foto-inicio {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-name: fade, zoom-out;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0;
}
.foto-inicio:first-child {
  animation-delay: 0s;
}

.foto-inicio:last-child {
  animation-delay: 6s;
}

.logo-inicio {
  position: absolute;
  z-index: 2;
  height: 34%;
  top: 21.9vh;
  left: 20.9vh;
  animation-name: fadeFast;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0;
  animation-delay: 0s;
}
.texto-inicio {
  position: absolute;
  z-index: 2;
  width: 50vw;
  font-family: "Spectral", serif;
  color: #e8e5d2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  top: 35.9vh;
  left: 20.9vh;
  animation-name: fadeFast;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0;
  animation-delay: 6s;
}

.whatsapp {
  position: fixed;
  right: 100px;
  top: 0;
  z-index: 3;

  margin: 20px 0 0 20px;

  img {
    position: absolute;
    width: 54px;
    color: #e9e1d6;
    mix-blend-mode: difference;
  }
}
.close {
  display: none;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeFast {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

@media screen and (max-width: 1250px) {
  .logo-inicio {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .texto-inicio {
    width: 60vw;
    top: 50%;
    left: 41%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 1300px) {
  .header {
    font-size: 20px;
  }
}

@media (max-width: 990px) {
  .whatsapp {
    right: 86px;
    top: 87vh;
    margin: 20px 0 0 20px;

    img {
      width: 52px;
    }
  }
  .fotoI-2 {
    object-position: 65%;
  }
}

@media (max-width: 800px) {
  .header {
    gap: 0 40px;
    height: 92px;
    width: 100%;
    font-size: 18px;
    justify-content: left;
    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    .open {
      position: relative;
      display: block;
      z-index: 5;
      li {
        margin-left: 20vw;
        margin-top: 3vw;
        width: 100vw;
        a {
          font-size: 20px;
          color: #541e0a;
          background-color: #e8e5d2;
          opacity: 0.7;
          padding-inline: 3vw;
          padding-top: 1vw;
          padding-bottom: 1vw;
          border-radius: 5px;
        }
      }
    }
  }
  .texto-inicio {
    font-size: 42px;
    margin-top: 8vh;
  }
  .whatsapp {
    right: 70px;
    margin: 20px 0 0 20px;

    img {
      width: 44px;
    }
  }
}

@media (max-width: 560px) {
  .header {
    gap: 0 18px;
    height: 82px;
    width: 100%;
    font-size: 14px;
  }

  .whatsapp {
    right: 70px;
    margin: 20px 0 0 20px;

    img {
      width: 44px;
    }
  }
}

@media (max-width: 390px) {
  .header {
    gap: 0 12px;
    height: 78px;
    width: 100%;
    font-size: 13px;
  }

  .whatsapp {
    right: 70px;
    top: 88vh;
    margin: 20px 0 0 20px;

    img {
      width: 42px;
    }
  }
}

@media (max-width: 360px) {
  .header {
    gap: 0 8px;
    height: 78px;
    width: 100%;
    font-size: 12px;
  }
}

@media (max-width: 280px) {
  .header {
    gap: 0 12px;
    height: 70px;
    width: 100%;
    font-size: 10px;
  }
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  margin-top: 3vh;
  margin-left: 5vh;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
.burger.menu.open {
  margin-left: 5vw;
}
