.footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: rgb(70, 70, 83);
    div {
        font-size: 48px;
        color: #ffffff;
    }
    img {
        margin: 18px 0;
        width: 360px;
    }
}